<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Control de autores</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Diseño links -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Icons links -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>


<body background="fondo.jpg">

<nav class="navbar navbar-expand-md bg-secondary navbar-light">
  <a type="button" class="btn btn-outline-light"><i class="bi bi-person-lines-fill"></i> Control de autores</a>
  <!-- Navbar links -->
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/libros}"><i class="bi bi-journal-text"></i> Control de libros</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/libros/new}"><i class="bi bi-journal-arrow-up"></i> Registro de libros</a>
      </li>
    </ul>
  </div>

  <div class="text-end">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a type="button" class="btn btn-outline-info" th:href="@{/inicio}"><i class="bi bi-house"></i> Menu principal </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div th:if="${msgExito != null}" class="alert alert-success alert-dismissible">
    [[${msgExito}]]
    <button type="button" class="btn btn-close" data-bs-dismiss="alert"></button>
  </div>

  <br>

  <div class="container">
    <div class="row">
      <h1 style="text-align:center" class="p-3 mb-2 bg-ligth bg-gradient text-dark"><i class="bi bi-list-stars"></i><em> Lista de autores </h1>
    </div>

    <br>

    <div class="text-center my-3">
        <a th:href="@{/autores/new}" class="btn btn-info"><i class="bi bi-person-fill-add"></i> Agregar autor</a>

    </div>

    <br>

    <form class="form-inline" th:action="@{/autores}">
      <div class="form-group mb-2">
        <label> Buscar autor: </label>
      </div>
      <div class="form-group mx-sm-3 mb-2 d-flex">
        <input type="text" name="palabraClave" class="form-control-sm" id="palabraClave" th:value="${palabraClave}" placeholder="Buscar" required>
        <input type="button" class="btn btn-secondary ml-2" value=" Limpiar " onclick="limpiarCampos()">
      </div>
    </form>

    <br>

    <table class="table table-success table-striped" style="text-align:center">
      <thead class="table-danger">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Lugar de Nacimiento</th>
        <th>Fecha de Nacimiento</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="autor : ${autores}">
        <td th:text="${autor.nombreAutor}">Nombre: </td>
        <td th:text="${autor.apellidoAutor}">Apellido: </td>
        <td th:text="${autor.lugarNacimiento}">Lugar de Nacimiento: </td>
        <td th:text="${autor.fechaNacimiento}">Fecha de Nacimiento: </td>
        <td>
          <a th:href="@{/autores/editar/{id}(id=${autor.id})}"  class="btn btn-info"><i class="bi bi-file-earmark-person"></i> Editar</a>
          <a href="#" onclick="eliminarAutor(this)" class="btn btn-danger"><i class="bi bi-person-fill-slash"></i> Eliminar</a>

          <form th:action="@{/eliminar/{id}(id=${autor.id})}" method="post"></form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Js links -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<!-- Función js -->
<script>
                function eliminarAutor(elemento){
                var ok = confirm('Si no hay registros previos de libros con este autor, ¿Estás seguro de eliminar el autor?');

                if(ok){
                elemento.nextElementSibling.submit();
                }
              }
           </script>

<script type="text/javascript">
    function limpiarCampos(){
    window.location='/autores';
     }
</script>

</body>
</html>